In [3]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
# matplotlib.use('Agg')
import datetime
from pprint import pprint
import sys
import itertools
sys.path.append("../src")

In [4]:
from src import utils

In [5]:
# Create relevant directory
utils.create_dir()

In [6]:
tickers = ['FB', 'AMZN', 'AAPL', 'NVDA', 'GOOG']
indicators = ['RSI', 'SMA']
start_date = '2015-01-01'
end_date = '2016-01-01'

In [9]:
df = utils.yahooProcessor(tickers, indicators, start_date, end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
Shape of DataFrame:  (1145, 10)

In [10]:
df

,date,open,high,low,close,volume,tic,RSI_14,SMA_25,day
0,2015-02-05,30.004999,30.057501,29.812500,27.219944,168984800,AAPL,64.058555,25.322262,3
1,2015-02-05,366.000000,378.799988,365.899994,373.890015,7247600,AMZN,76.932891,313.278401,3
2,2015-02-05,75.709999,75.980003,75.209999,75.610001,15062600,FB,43.454478,76.563200,3
3,2015-02-05,522.355896,527.052979,520.660522,526.135498,1849765,GOOG,50.774157,513.901885,3
4,2015-02-05,5.045000,5.125000,5.040000,4.925517,14044800,NVDA,55.698817,4.782248,3
...,...,...,...,...,...,...,...,...,...,...
1140,2015-12-31,26.752501,26.757500,26.205000,24.199888,163649200,AAPL,34.017188,25.861001,3
1141,2015-12-31,686.080017,687.750000,675.890015,675.890015,3749600,AMZN,55.110352,669.486807,3
1142,2015-12-31,106.000000,106.169998,104.620003,104.660004,18391100,FB,48.557170,105.334000,3
1143,2015-12-31,769.500000,769.500000,758.340027,758.880005,1500900,GOOG,54.514644,754.352402,3
1144,2015-12-31,8.335000,8.372500,8.240000,8.053997,14852800,NVDA,55.939161,8.007763,3